.Contact {
  font-family: Archivo-Medium;
  background-color: #F4F1ED;
  padding: 10%;
  padding-top: 15%;
}

.form {
  display: flex;
  margin-left: 25%;
  justify-content: start;
  text-align: left;
}

.form-label {
  color: #31211C;
  font-size: 1vw;
}

.input {
  width: 300%;
  padding-bottom: 12%;
  padding-top: 3%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #D5D2CE;
  color: #D5D2CE;
  font-size: 1.4vw;
}

.input-text {
  width: 300%;
  padding-bottom: 50%;
  padding-top: 3%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #D5D2CE;
  color: #D5D2CE;
  font-size: 1.4vw;
}

.submit {
  background-color: #EE5F1F;
  color: #FFFFFF;
  border: 1px solid #EE5F1F;
  border-radius: 2px;
  padding: 7%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;
}

.input:hover, .input-text:hover {
  color: #31211C;
}