.Nav {
  background-color: #F4F1ED;
  padding: 4%;
  font-family: Archivo-Medium;
  color: #31211C;
  text-transform: uppercase;
}

.nav-li-left {
  float: left;
  margin-right: 4%;
  margin-left: 4%;
}

.nav-li-right {
  float: right;
  margin-left: 4%;
  margin-right: 4%;
}

.nav-img {
  width: 15%;
}

@media only screen and (max-device-width: 600px) {

  .nav-li-left {
    display: none;
  }

  .nav-li-right {
    display: none;
  }

  .Nav {
    padding: 10%;
  }

  .nav-img {
    width: 30%;
  }
}